In [1]:
import numpy as np

In [105]:
##################################### KNN ALGORITHM ###############################################

In [ ]:
### step 1 we have dataframe 
### step 2 we have query point 
### step 4 we have to set our k 
### now we have to find the the eucledian distance and then we will find the nearest k algorithm

In [145]:
data=[[56,35],[65,14],[123,456],[147,658],[21,31],[96,35],[27,37]]

In [146]:
# let new point we got 44,88
query_point=[44,88]

In [147]:
#define eucleidan distance

def euc_distance(x1,x2):
  sum=0
  for i,j in zip(x1,x2):
    sum=sum+(i-j)**2
  
  distance=np.sqrt(sum)
  return distance
  #print(distance) #

In [148]:
distance=[]
for i in data:
  k=euc_distance(i,query_point)
  distance.append(k)

In [149]:
distance

[54.3415126767741,
 76.92203845452875,
 376.3841123108147,
 579.2313872710973,
 61.465437442517235,
 74.24957912338628,
 53.75872022286245]

In [150]:
def rank_list(a):  # getting the rank of distance 
  s=sorted(a)
  rank=[]
  for i in a:
    for j in range(len(s)):
      if (i==s[j]):
         rank.append(j+1)

  print(rank)

In [151]:
rank_list(distance)

[2, 5, 6, 7, 3, 4, 1]

In [152]:
# if our nearest neighbour is 3 then data point 1 , 5, 7 are the 3 nearest neighbours and the class they belong to our new quesry point also belongs to this